body {
	margin: 0;
}

.img__holder {
	width: 100%;
	height: 0;
	padding-top: 133.3%;


	background-size: cover;
	background-repeat: no-repeat;
}

.images {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.img-item_1 {
	width: 50%;
}

.img-item_2 {
	width: 70%;
}

.img__1 {
	background-image: url('images/sprite.jpg');
}

.img__2 {
	background-image: url('images/sprite3.jpg');
}